.filterContainer {
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}

.filterInput {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid black;
  width: 100%;
  transition: all 0.3s;
}

.filterInput:hover,
.filterInput:focus {
  border: 1px solid lime;
  outline: none;
}
